.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

__pycache__/
*.py[cod]
*$py.class
.python-version
.Python

env/
venv/
.venv/
ENV/

build/
dist/
develop-eggs/
.eggs/
*.egg-info/
*.egg
wheels/
share/python-wheels/
site/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
.hypothesis/

.ruff_cache/
.mypy_cache/
.pytype/
.pyre/
.nox/
.tox/
.cache/

pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints
.scrapy/
celerybeat-schedule
instance/
.dmypy.json

*.class
out/
build/

.gradle/
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar

.konan/

*.log
*.tmp
*.swp
*.swo
